# Node dependencies
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db   # Windows
desktop.ini # Windows

# Editor files (optional)
.vscode/
.idea/
